
.home-product__swiper{
    height:780rpx;
    margin-left: auto;
    margin-right: auto;
    width: 750rpx;
    /* border: 13px solid red; */
}
.home-product{
    background-color: rgb(253, 229, 161);
    border-radius: 28rpx;
    height:880rpx;
    margin-top: 28rpx;
}
.navigator_item{
    height:80rpx; 
    /* border: 1px solid black; */
}
.navigator_left{
    float: left;
    margin-left: 30rpx;
    font-size: 36rpx;
}
.navigator_right{
    float: right;
    margin-right: 30rpx;
    font-size: 24rpx;
}
.navigator_left, .navigator_right{
    line-height: 100rpx;
}

.home-product_swiperitem{
    /* border: 1px solid red; */
    margin-left: 30rpx;
}