.home-product{
/* border:1px solid rebeccapurple; */
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: rgb(253, 229, 161);
width: 92%;
margin-top: -30rpx;
} 
.home-product_item{
    height:350rpx;
    width: 220rpx;
    background-color: #fff;
    margin-top: 15rpx;
    /* border: 1px solid black; */
}
.home-product_img{
width: 100%;
height: 210rpx;
}
.pic{
    /* border: 1px solid red; */
}
.home-product_item-img{
    max-width: 100%;
    max-height: 100%;
}
.home-product_count{
    height: 30rpx;
    background-color: #fff;
    width: 120rpx;
    margin-top:-38rpx;
    border-radius: 20rpx;
    line-height: 30rpx;
    text-align: center;
    opacity: 0.7;
    font-size: 20rpx;
    position: absolute;
    border:1px solid red;
}
.count_text, .tuan_price{
    color:red;
}
.home-product_tuan, .home-product_single,.home-product_go{
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
.home-product_tuan{
    height: 30rpx;
    padding-top: 20rpx;
    /* line-height: 40rpx; */
    font-size: 26rpx;
}
.price{
    font-size: 28rpx;
}
.home-product_single{
    height: 40rpx;
    line-height: 40rpx;
    color: gray;
    font-size: 20rpx;
}
.home-product_go{
    height:45rpx;
    line-height: 45rpx;
    font-size: 24rpx;
}
.home-product_go{
    background-color: rgb(255, 57, 57);
    width: 120rpx;
    border-radius: 26rpx;
    color: white;
    font-size: 28rpx;
}
.border_devide{

height: 1px;
background: #dbdbdb;
transform:scaleY(0.5);
}
