

.home {
  position: relative;
}

.home__search {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 30px 20px;
  width: 100%;
  background: #ffffff;
  z-index: 9;

  

}

.home__wrap {
  padding: 76px 0 0;
  background: #fafafa;
}

.home__loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  
}
