.car_product{
    width: 100%;
    height: 300rpx;
    /* background-color: pink; */

}
.cat_product_detail{
    align-items: center;
}
.car_shopname{
    height: 80rpx;
    width: 100%;
    line-height: 80rpx;
   background-color: rgb(245, 244, 244);
    font-size: 26rpx;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.box{
    width: 45rpx;
    height: 45rpx;
}
.select_icon{
    max-width: 100%;
    max-height: 100%;
}
.cat_product_detail{
    display: flex;
}
.shop-wrap{
    width: 200rpx;
    height: 200rpx;
}
.price_and_count{
    display: flex;
    height: 80rpx;
    border: 1px solid red;
    align-items: center;  
}
.cat_product_price{
    color: red;
    font-weight: 300;
    font-size: 28rpx;
    border:1px solid black;
    width: 130rpx;
}
.cat_product_button{
    display: flex;
   margin-left: 145rpx;
}
.cat_product_title{
    font-size: 28rpx;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.count{
    border: 1px solid grey;
    width: 50rpx;
    height: 50rpx;
    text-align: center;
}
.number{
    width: 90rpx;
}
.checkbox{
    border-radius: 50%;
}
.img{
    max-width: 100%;
   max-height: 100%;

}
.delete{
    width: 40rpx;
    height: 40rpx;
margin-left: 420rpx;
margin-top: 8rpx;
}
.delete_icon{
    max-width: 100%;
    max-height: 100%;
}
.border-device{
     height: 1px;
background: #dbdbdb;
transform:scaleY(0.5);
}







