


.no_product{
    width: 100%;
    height: 500rpx;
    margin-top: 50%;
justify-content: center;
align-items: center;
border:1px solid red;
box-sizing: border-box;
}
.space_car{
    width: 200rpx;
    height: 200rpx;
    border-radius: 200rpx;
    margin-left: auto;
    margin-right: auto;
    border:3px solid rgb(98, 97, 97);
    position: relative;
  }
.car_wrap{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 110rpx;
    height: 110rpx;
    
    top: 50%;
    left: 50%;
}
.space_car_icon{
    max-width: 100%;
    max-height: 100%;
}
.car_describe{
    width: 100%;
    text-align: center;
    font-size: 30rpx;
    height: 120rpx;
    line-height: 120rpx;
    border:1px solid red;
}
.go_shop{
    width: 30%;
    text-align: center;
    font-size: 30rpx;
    height: 100rpx;
    line-height: 100rpx;
   background-color: rgb(255, 1, 1);
   color: white;
   font-size: 32rpx;
   border-radius: 6rpx;
   margin: auto;
}